*{
  font-family: MarkOT, sans-serif, sans-serif;
}
main{
  background-color: #0A0B0D;
}
h2,p{
    color: white;
}
span{
    color:#ccc
}
.heading{
    padding: 3%;
    display: flex;
    align-items: center;
}
.heading div{
  flex:1
}
#date{
  background: black;
    color: blue;
    padding: 2% 10%;
    border: 1px solid blue;
    border-radius: 7px;
    margin-left: 5%;
}
.dateDiv{
  text-align: end;
}
::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 10%;
  z-index: 999;
}
.overlay-content {
  background-color: white;
  margin: auto;
  width: 35%;
  height: 30%;
  border-radius: 25px;
}
.close-overlay {
  position: relative;
  right: 5%;
  top: 5%;
  cursor: pointer;
  color: black;
  float: right;
}
.dateImg {
  width: 33%;
}
.overlay-text {
  color: black;
  text-align: center;
  font-size: 25px;
  margin:0
}
#movieDetails{
  
    padding-top: 4%;
    padding-left: 15%;
}
#movie_info{
    display: flex;
}
hr{
    margin: 2% 3%;
}
.details{
    padding-left: 5%;
}
.description{
    padding-top: 2%;
    width:80%;
}
.movie_image{

height:300px;
object-fit: contain;
}
.showtime_button{
    padding:10px;
    color:white;
    background-color: #004CCC;
    border: #004CCC;
    margin: 5px;
    border-radius: 5px;
   
    FONT-WEIGHT: 700;
}
.row {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
  }
  #seat-map{
    width: 60%;
  margin: auto;
  border: 2px solid #004CCC;
  padding: 2%;
  margin-top: 1%;
  }
  .movie-seat-heading{
    text-align: center;
    display: inline-block;
    padding-left: 39%;
  }
  .blocked .seat{
    border: 1px solid grey;
  }
  .seat {
    width: 5%;
    height: 50px;
    margin-right: 10px;
    background-color: black;
    border: 1px solid #004CCC;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.payment{
    padding: 20px 80px;
    float: right;
}
  .selected {
    background-color: #004CCC;
    color: #fff;
  }
  .selected .fas{
    color:white
}
.selected .seat-number{
    color: white;
}
  .gap {
    width: 30px;
  }
.blocked .fas, .blocked .seat-number,.clockIconTime .blocked{
  color: grey;
}
  #selected-seats {
    margin-top: 20px;
    color: white;
    text-align: center;
  }
  #screen{
    border: 2px solid #004CCC;
  margin-top: 2%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.clockIcon{
    color: #004CCC;
    padding: 1%;
}
.fas{
    color:#004CCC
}
#screen p{
text-align: center;
margin: 2px;
}
.main-seat-selection{
    padding: 2%;
    height: 1050px;

}
#displayShowTime{
    color:white;
    display: inline;
    padding: 1%;
    
}
.clockIconTime{
    color: white;
    flex: 1;
 
}
.seat-number{
    margin: 10px 0 0 0;
    font-size: 7px;
    text-align: center;
    color: blue; 
}
.payment-footer{
    display: flex;
    width:70%;
    margin: auto;
    margin-top: 4%;
    align-items: center;
    text-align: center;
}
#back{
    color: white;
    padding-left: 5%;
}
.date-label{
  color: white;
}

@media  (max-width:768px) {
  #movie_info {
    flex-direction: column;
  }
  .seat {
    width: 6%;
  
    margin-right: 6px;
  }
  #seat-map {
    width: 76%;
    margin: auto;
    border: 0;
   
}
.movie-seat-heading {
  padding-left: 26%;
  font-size: 13px;
}
.payment-footer {
  flex-direction: column;
}
.clockIconTime {
  margin-bottom: 10px;
}
}